In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")
sns.set(style="whitegrid")

In [15]:
df = pd.read_csv("../docs/транзакции в Мобильном интернет Банкинге.csv",
sep=';',
encoding='cp1251',
header=1,
)

In [16]:
df.head()

,cst_dim_id,transdate,transdatetime,amount,docno,direction,target
0,2.937833e+09,'2025-01-05 00:00:00.000','2025-01-05 16:32:02.000',31000.0,5343,8406e407421ec28bd5f445793ef64fd1,0
1,2.096229e+09,'2025-03-04 00:00:00.000','2025-03-04 17:41:57.000',4000.0,8442,b3a3d4a6006293195d998957d4f01e42,0
2,2.937760e+09,'2025-06-20 00:00:00.000','2025-06-20 10:08:07.000',3000.0,9540,22b84292f0ebce65ad0808342615a03b,0
3,2.933493e+09,'2025-07-06 00:00:00.000','2025-07-06 14:52:13.000',500.0,11685,d677d4e1a0f625e1ad746ea950c9dca9,0
4,4.560006e+08,'2024-12-18 00:00:00.000','2024-12-18 14:12:25.000',20000.0,7128,87b698d1edae13c21ce86678de3b8546,0

In [36]:
dbf = pd.read_csv("../docs/поведенческие паттерны клиентов.csv",
sep=';', 
encoding='cp1251',
header=1
)

In [37]:
dbf.head()

,transdate,cst_dim_id,monthly_os_changes,monthly_phone_model_changes,last_phone_model_categorical,last_os_categorical,logins_last_7_days,logins_last_30_days,login_frequency_7d,login_frequency_30d,freq_change_7d_vs_mean,logins_7d_over_30d_ratio,avg_login_interval_30d,std_login_interval_30d,var_login_interval_30d,ewm_login_interval_7d,burstiness_login_interval,fano_factor_login_interval,zscore_avg_login_interval_7d
0,'2025-03-05 00:00:00.000',4.530244e+08,2,2,Vivo V2116,Android/13,6,20,0.857143,0.6666666666666666,0.2857142857142857,0.300000,131460.000000,213919.478309,45761543200,23007.164410,0.238750,348102.412901,-0.221074
1,'2025-05-19 00:00:00.000',4.986364e+08,1,1,Xiaomi_m2006c3mg,Android/10,2,22,0.285714,0.7333333333333333,-0.6103896103896104,0.090909,101520.000000,82733.726442,6844869490.909091,178980.000000,-0.101959,67423.852353,0.936257
2,'2025-08-04 00:00:00.000',2.934905e+09,1,1,"iPhone16,1",iOS/18.5,2,2,0.285714,0.06666666666666667,3.2857142857142856,1.000000,67800.000000,-1.000000,-1.0,67800.000000,-1.000000,-1.000000,-1.000000
3,'2025-03-05 00:00:00.000',4.561731e+08,1,2,Vivo V2058,Android/13,5,37,0.714286,1.2333333333333334,-0.42084942084942084,0.135135,61394.594595,76777.321398,5894757081.081081,9400.733945,0.111330,96014.268357,-0.508739
4,'2025-06-26 00:00:00.000',2.933725e+09,1,1,"iPhone12,1",iOS/17.6.1,37,119,5.285714,3.966666666666667,0.33253301320528206,0.310924,22751.500000,33089.101678,1094888649.8319328,18828.504487,0.185127,48123.800621,-0.231693

In [38]:
df.info()
dbf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13113 entries, 0 to 13112
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cst_dim_id     13107 non-null  float64
 1   transdate      13113 non-null  object
 2   transdatetime  13113 non-null  object
 3   amount         13113 non-null  float64
 4   docno          13113 non-null  int64
 5   direction      13113 non-null  object
 6   target         13113 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 717.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8587 entries, 0 to 8586
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   transdate                     8587 non-null   object
 1   cst_dim_id                    8579 non-null   float64
 2   monthly_os_changes            8587 non-null   int64
 3   monthly_phone_model_changes   8587 non-null   int64
 4   last_phone_model_categorical  8581 non-null   object
 5   last_os_categorical           8581 non-null   object
 6   logins_last_7_days            8587 non-null   int64
 7   logins_last_30_days           8587 non-null   int64
 8   login_frequency_7d            8587 non-null   float64
 9   login_frequency_30d           8587 non-null   object
 10  freq_change_7d_vs_mean        8562 non-null   object
 11  logins_7d_over_30d_ratio      8562 non-null   float64
 12  avg_login_interval_30d        8587 non-null   float64
 13  std_login_interval_30d        8587 non-null   float64
 14  var_login_interval_30d        8587 non-null   object
 15  ewm_login_interval_7d         8587 non-null   float64
 16  burstiness_login_interval     8587 non-null   float64
 17  fano_factor_login_interval    8587 non-null   float64
 18  zscore_avg_login_interval_7d  8587 non-null   float64
dtypes: float64(9), int64(4), object(6)
memory usage: 1.2+ MB